@font-face {
    font-family: Roboto;
    src: url("fonts/Roboto-Regular.ttf");
}

* {
    background-color: #272a2e;
    color: white;
    font-family: Roboto, sans-serif;
}

.body {
    position: relative;
    min-height: 100vh;
}

/*.main {
    width: 500px;
    height: 250px;
    margin: 50px;
    display: flex;
    justify-content: center;
}*/

.contents {
    border-radius: 50%;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0 !important;
}

button {
    background-color: #1a1c1f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
}

input {
    background-color: #1a1c1f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
}

button:active {
    background-color: #18191c;
}



input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    width: 3rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media (max-width: 700px) {
    .prev_next_buttons {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 700px) {
    button
    {
        font-size: 12pt;
    }
    input
    {
        font-size: 12pt
    }
}